<head>
	<title>Connexion Admin</title>
	<link rel='stylesheet' type='text/css' href='noel.css?<?php echo time(); ?>' 
</head>


<body>
	
		</div>	
	<div id='MenuLeft'>
		<ul id='home_menu'>
			<h2>Menu</h2>
			<li><a href='home.html'> Page principale </a> </li>
		</ul>
	
	
	</div>
	
	
	<?php
session_start();

// Détruit toutes les variables de session
$_SESSION = array();


if (ini_get("session.use_cookies")) {
    $params = session_

session_destroy();
?>
	
	<form id="login" method="POST" action="formulaire_objet.php">
	
	<input type="text" name="id" size="20"tabindex="1" placeholder="id">
	<input type="password" name="password" size="20"tabindex="2" placeholder="password">
	<br>
	
	<input type="submit" value="connexion">
	 


	</form>

</body>

