body { background-color: #007000	; color: white; font: 1em "Trebuchet MS",Arial,sans-serif ;}
h1 { text-align:center ; color: #ed0b0b; } 
h2{ text-align:center ; } 
table, th, td {
  border: 3px solid black;
  border-collapse: collapse;
  border-color: #ed0b0b;
}

div#Top{

	 background-color:#050;
	float:top;
	width:100%;
	height:overflow-wrap;


}


div#MenuLeft{

	 background-color:#050;
	float:left;
	width:wrap-content;
	height:100%;
	margin-top:0px;
	border: 10px solid #007000;


}

#home_menu {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#home_menu li a:hover, #home_menu li a:focus, #home_menu li a:active {
  background: #900 ;
  text-decoration: underline ;
}

li{

	margin-top:5px;
  background: #c00 ;
  color: #fff ;
  border: 1px solid #600 ;
  margin-bottom: 5px ;
  }
  
  li,a{
  
  
    display: block ;
  background: #c00 ;
  color: #fff ;
  font: 1em "Trebuchet MS",Arial,sans-serif ;
  line-height: 1em ;
  text-align: center ;
  text-decoration: none ;
  padding: 4px 0 ;
  
  }
  
a,ul{

	color: white;

}


/* boutons en general */

#button {
  width: 200px;
  list-style: none;
  margin: 0;
  padding: 0;
}

#button  a:hover, #button a:focus, #button  a:active {
  background: #900 ;
  text-decoration: underline ;
}





/*
catalogue
*/
td {
  text-align: center;
}
img { 
  width: 200; 
}

html{

	border: 10px solid #ed0b0b;


}


