<head>
	<title>Creer un compte</title>
	<link rel='stylesheet' type='text/css' href='noel.css?<?php echo time(); ?>' 
</head>


<body>
	
	</div>	
	<div id='MenuLeft'>
		<ul id='home_menu'>
			<h2>Menu</h2>
			<li><a href='home.html'> Page principale </a> </li>
		</ul>
	
	
	</div>
	
	<form id="signin" method="POST" action="insert_utilisateur.php">
	
	<input type="text" name="pseudo" size="20"tabindex="1" placeholder="pseudo"> <br> <br>
	<input type="password" name="password" size="20"tabindex="2" placeholder="password"> <br> <br>
	<input type="password" name="confirm" size="20"tabindex="3" placeholder="confirmer le mot de passe">
	<br>
	<br>
	
	<input type="submit" value="valider">
	 


	</form>

</body>
